<div class="col-4 bg-light border p-2 mb-2" style="margin-right: 25px;" @onclick="@(() => OnAmenitySelectionChange(Amenitie.Name))">
	<h4 class="text-muted mb-1">Amenitie - @Amenitie.Id</h4>
	@Amenitie.Name
	<br/>
	@Amenitie.Description
	<br/>
	RF from Parent - @Rf1 @Rf2
	<div>
		<EditDeleteButton IsAdmin="IsAdmin"/>
	</div>
</div>

@code {

	[Parameter]
	public Amenitie Amenitie { get; set; }

	[Parameter]
	public bool IsAdmin { get; set; }

	[Parameter]
	public EventCallback<string> OnAmenitySelection { get; set; }

	[Parameter]
	public RenderFragment Rf1 { get; set; }

	[Parameter]
	public RenderFragment Rf2 { get; set; }

	private async Task OnAmenitySelectionChange(string selectedAmenity)
	{
		await OnAmenitySelection.InvokeAsync(selectedAmenity);
	}

}