<AuthorizeView>
	<Authorized>
		<a class="nav-link" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
		<a href="Identity/Account/Logout" class="page-link">Logout</a>
	</Authorized>
	<NotAuthorized>
		<a href="Identity/Account/Register" class="page-link">Register</a>
		<a href="Identity/Account/Login" class="page-link" style="margin-left: 7px;">Login</a>
	</NotAuthorized>
</AuthorizeView>

@code {

}